[Unit]
Description=Environment monitoring
After=network.target

[Service]
ExecStart=/home/pi/enviroplus-aws/pi/all-in-one.py
Type=simple
Restart=on-failure

[Install]
WantedBy=default.target
